<div id="insert-post-modal">
  <h2>Editar Postagem</h2>

  <form #form="ngForm">
    <label>
      Título:
      <textarea name="title" [(ngModel)]="data.post.title" required></textarea>
    </label>

    <label>
      Corpo:
      <textarea name="body" [(ngModel)]="data.post.body" required></textarea>
    </label>
  </form>

  <div class="button-container">
    <button (click)="onNoClick()">Voltar</button>
    <button (click)="saveChanges()" [disabled]="!form.valid">Salvar</button>
  </div>
</div>
