<h2>Editar Usuário</h2>

<form>
  <label>
    Nome:
    <input name="name" [(ngModel)]="data.user.name">
  </label>

  <label>
    Email:
    <input name="email" [(ngModel)]="data.user.email">
  </label>

  <label>
    Gênero:
    <select name="gender" [(ngModel)]="data.user.gender">
      <option value="male">Masculino</option>
      <option value="female">Feminino</option>
    </select>
  </label>

  <label>
    Ativo:
    <select name="status" [(ngModel)]="data.user.status">
      <option value="active">Ativo</option>
      <option value="inactive">Inativo</option>
    </select>
  </label>
</form>

<div class="button-container">
  <button (click)="onNoClick()">Voltar</button>
  <button (click)="saveChanges()">Salvar</button>
</div>
